/*setting the values below*/
/*font-weight*/
/*z-index*/
/*importing mixin*/
/*importing the font below*/
@font-face {
  font-family: 'Myriad Pro Regular';
  src: local("Myriad Pro Regular"), url("MYRIADPRO-REGULAR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
a {
  text-decoration: none;
  /*removing the text decoration for links (i.e. underline)*/ }

ul, ol {
  list-style: none;
  /*removing list styling (bullets) for the lists*/ }

body {
  margin: 0;
  /*resetting the styling. margin 0*/
  padding: 0;
  /*resetting the styling. padding 0*/
  outline: 0;
  /*resetting the styling. outline 0*/
  border: 0;
  /*resetting the styling. border 0*/
  font-family: 'Myriad Pro Regular';
  /*including the font*/
  line-height: 1;
  /*resetting the styling. line height 1*/ }

.wrapper .header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /*including flex*/
  padding-right: 30px;
  /*including the padding for the header*/
  padding-left: 40px;
  /*including the padding for the header*/ }
.wrapper .header__logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /*including flex*/
  padding-right: 20px;
  /*including padding*/ }
.wrapper .header__wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /*including flex*/ }
.wrapper .logo__picture {
  padding-right: 10px;
  /*including padding*/ }
.wrapper .logo__title, .wrapper .logo__item {
  font-size: 42px;
  font-weight: 400;
  line-height: 1;
  /*including font details*/
  padding-right: 300px;
  /*including padding*/
  color: black; }
.wrapper .nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /*including flex*/ }
.wrapper .nav__item {
  padding-right: 50px;
  /*including padding*/
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  /*including font-size*/
  letter-spacing: 0.01em;
  /*including letter spacing*/ }
.wrapper a[class$="link"], .wrapper p[class$="text"], .wrapper .product__title, .wrapper .subproduct__title {
  color: #6c6c6c;
  /*including font-color*/ }
.wrapper a[class$="link"]:hover {
  padding-bottom: 30px;
  /*padding bottom when hover*/
  border-bottom: 3px solid #5094f2;
  /*border bottom when hovering*/ }

.banner .banner__background {
  width: 100%;
  /*including width*/
  position: absolute;
  /*including position*/
  height: 579px;
  /*including height*/ }
.banner .banner__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /*including flex*/
  padding-top: 100px;
  /*including padding*/
  padding-right: 100px;
  /*including padding*/
  padding-left: 200px;
  /*including padding*/ }
.banner .banner__content, .banner .banner__item, .banner .banner__image {
  z-index: 100;
  /*including z index*/ }
.banner .banner__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /*including flex*/
  white-space: none; }
.banner .banner__title, .banner .banner__info {
  padding-left: 150px;
  /*including padding*/
  color: white;
  /*setting color*/ }
.banner .banner__title {
  font-size: 42px;
  font-weight: 400;
  line-height: 44px;
  padding-top: 100px;
  /*including padding*/ }
.banner .banner__info {
  font-size: 26px;
  font-weight: 400;
  line-height: 44px;
  /*including font details*/
  width: 50%;
  /*including width*/
  margin-top: -10px; }
.banner .button {
  width: 200px;
  display: inline-block;
  background: #5094f2;
  border: none;
  color: white;
  /*including button details*/
  margin-left: 150px;
  /*including margin left*/
  font-size: 22px;
  font-weight: 400;
  line-height: 44px;
  /*including font details*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*including flex for footer*/ }
  .banner .button:hover {
    background: #0f5fcd;
    /*including button details when hovering*/ }
.banner .button__img {
  padding-right: 10px;
  /*including padding*/ }

.section .section__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /*including flex for footer*/ }
.section .section__subcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*including flex for footer*/
  margin-top: 100px;
  /*including margin*/
  margin-right: 100px;
  /*including margin*/
  margin-left: 100px;
  /*including margin*/
  text-align: center;
  /*aligning text in the center*/ }
.section .circle--primary, .section .circle--secondary, .section .circle--additional {
  width: 186px;
  /*including width*/
  height: 186px;
  /*including height*/
  border-radius: 50%;
  /*including border radius*/
  background-color: #5094f2;
  /*including bg color*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*including flex for footer*/ }
  .section .circle--primary:hover, .section .circle--secondary:hover, .section .circle--additional:hover {
    scale: 1.2; }
.section .circle--secondary {
  background-color: #d94748;
  /*setting bg color*/ }
.section .circle--additional {
  background-color: #ebbb11;
  /*setting bg color*/ }
.section .subcontent__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
  /*including font details*/
  color: #5094f2;
  /*setting the color*/ }
.section .subconent__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  /*including font details*/
  width: 70%;
  /*setting the width*/
  margin-top: -25px; }
.section .product__section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /*including flex for footer*/
  margin-top: 50px;
  /*setting the margin*/
  margin-right: 100px;
  /*setting the margin*/
  margin-left: 200px;
  /*setting the margin*/
  padding-bottom: 50px;
  /*including padding*/ }
.section .product__content, .section .product__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /*including flex for footer*/ }
.section .product__content {
  align-items: center;
  /*aligning items in the center*/
  padding-right: 100px;
  /*including padding*/ }
.section .product__title {
  padding-bottom: 25px;
  /*including padding*/
  font-size: 42px;
  font-weight: 400;
  line-height: 44px;
  /*including font details*/ }
.section .subproduct__title {
  padding-top: 100px;
  /*including padding*/
  font-size: 26px;
  font-weight: 400;
  line-height: 44px;
  /*including font details*/ }
.section .product__text {
  width: 45%;
  /*including width*/
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
  /*including font details*/ }

.footer .footer__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*including flex for footer*/
  padding-top: 25px;
  /*including padding*/
  padding-bottom: 25px;
  /*including padding*/
  border-top: #6c6c6c 1px solid;
  /*including border top for footer*/ }
.footer .footer__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
  /*including font details*/ }

/*# sourceMappingURL=main.css.map */
