@mixin border($x) {
    border-radius: $x;
}

@mixin width ( $value: 100px ) {
   width: $value;
}

@mixin font-size($size) {
    font-size:$size;
}

@mixin flex () {
    display: flex; 
    flex-direction: row;
}

@mixin getSize ($w, $m) {
    width: $w;
    margin: $m;
}


