$size: 100px;
$color--primary: #5094f2;
$color--secondary: #d94748;
$color--additional: #ebbb11;
$color--accent: white;
$font-color: #6c6c6c;
$width: 100%;

@import 'mixin';

a {
    text-decoration: none; /*removing the text decoration for links (i.e. underline)*/
}

ul, ol {
    list-style: none; /*removing list styling (bullets) for the lists*/
}

body {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

.wrapper {

    .header {
        @include flex();
        padding: {
            right: ($size - 70px);
            left: ($size - 60px);
        }

        align-items: center;
        line-height: 1.2rem;
    }   

    .header__logo {
        @include flex ();
        padding-right: ($size - 80px);
    }

    .header__wrap {
        @include flex ();
        align-items: center;
    }

    .logo__picture {
        padding-right: ($size - 90px);
    }

    .logo__title {
        @include font-size ($size * 0.42);
        padding-right: ($size * 10);
    }
                
    .nav {
        @include flex ();
        width: $width - 60%;
    }

    .nav__item {
        padding-right: $size - 50px;
        @include font-size ($size * 0.2);
        letter-spacing: 0.01em;
    }

    a[class$="link"],  p[class$="text"]  {
        color: $font-color;
    }

    a[class$="link"]:hover {
        padding-bottom: ($size - 70px);
        border-bottom: 3px solid $color--primary;
    }
}

.banner {

    .banner__background {
        width: 100%;
        position: absolute;
        height: 579px;
    }

    .banner__content {
        @include flex ();
        z-index: 100;
        padding: {
            top: $size;
            right: $size;
            left: ($size * 2);
        }
    }
    
    .banner__item {
        @include flex ();
        flex-direction: column;
        z-index: 100;
    }

    .banner__image {
        z-index: 100;
    }

    .banner__title, .banner__info {
        padding-left: $size + 50px;
        color: $color--accent;
        line-height: $size - 66px; 
        font-weight: 400;      
    }

    .banner__title {
        font-size: ($size*0.42);
        padding-top: $size;
    }

    .banner__info {
        font-size: ($size*0.26);
        width: $width - 50%; 
    }

    .button {
        width: $size + 72px;
        display: inline-block;
        margin-left: $size + 50px;
        @include font-size ($size * 0.22);
        background: $color--primary;
        border: none;
        color: $color--accent;
        line-height: 44px;
        @include flex();
        justify-content: center;
        align-items: center;
    }

    .button:hover {
        background: darken($color--primary, 20%);
    }

    .button__img {
        padding-right: ($size - 90px);
    }
}

.section {

    .section__content {
        @include flex();
        justify-content: center;
    } 

    .section__subcontent {
        @include flex();
        flex-direction: column;
        margin: {
            top: $size;
            right: $size; 
            left: $size;
        }

        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .circle--primary, .circle--secondary, .circle--additional {
        width: $size + 86px;
        height: $size + 86px;
        border-radius: 50%;
        background-color: $color--primary;
        @include flex();
        justify-content: center;
        align-items: center;
    }

    .circle--secondary {
        background-color: $color--secondary;
    }

    .circle--additional {
        background-color: $color--additional;
    }

    .subcontent__title { 
        @include font-size (20.4px);
        color: $color--primary;
        font-weight: 400;
    }

    .subconent__text {
        font-size: 14.4px;
        line-height: 1.2;
        width: 70%;
    }

    .product__section {
        @include flex();
        margin: {
            top: $size/2;
            right: $size; 
            left: $size*2; 
        }

        padding-bottom: $size/2;
    }

    .product__content, .product__info {
        @include flex();
        flex-direction: column;
    }

    .product__content {
        align-items: center;
        padding-right: $size;
    }

    .product__title  {
        padding-bottom: $size/4;
        font-size: 42.4px;
        font-weight: 400;
        color: $font-color;
    }

    .subproduct__title {
        padding-top: $size; 
        font-size: 26.4px;
        font-weight: 400;
        color: $font-color;
    }

    .product__text {
        width: 45%;
        font-size: 15.4px;
        line-height: 36px;
    }
}

.footer {
    
    .footer__content {
        @include flex();
        justify-content: center;
        align-items: center;
        padding: {
            top: $size/4;
            bottom: $size/4;
        }

        border-top: $font-color 1px solid;
    }

    .footer__text {
        font-size: 15.4px;
    }
}

