$size: 100px;
$color--primary: #5094f2;
$color--secondary: #d94748;
$color--additional: #ebbb11;
$color--accent: white;
$font-color: #6c6c6c;
$width: 100%;

@import 'mixin';

a {
    text-decoration: none; /*removing the text decoration for links (i.e. underline)*/
}

ul, ol {
    list-style: none; /*removing list styling (bullets) for the lists*/
}

body {
    margin: 0;
    padding: 0;
    outline: 0;
}

.wrapper {

    .header {
        @include flex();
        padding: {
            right: ($size - 70px);
            left: ($size - 60px);
        }

        align-items: center;
        line-height: 1.2rem;
    }   

    .header__logo {
        @include flex ();
        padding-right: ($size - 80px);
    }

    .header__wrap {
        @include flex ();
        align-items: center;
    }

    .logo__picture {
        padding-right: ($size - 90px);
    }

    .logo__title {
        @include font-size ($size * 0.42);
        padding-right: ($size * 10);
    }
                
    .nav {
        @include flex ();
        width: $width - 60%;
    }

    .nav__item {
        padding-right: $size - 50px;
        @include font-size ($size * 0.2);
        letter-spacing: 0.01em;
    }

    a[class$="link"],  p[class$="text"]  {
        color: $font-color;
    }

    a[class$="link"]:hover {
        padding-bottom: ($size - 70px);
        border-bottom: 3px solid $color--primary;
    }
}

.banner {

    .banner__background {
        width: 100%;
        position: absolute;
        height: 579px;
    }

    .banner__content {
        @include flex ();
        z-index: 100;
        padding: {
            top: $size;
            right: $size;
            left: ($size * 2);
        }
    }
    
    .banner__item {
        @include flex ();
        flex-direction: column;
        z-index: 100;
    }

    .banner__image {
        z-index: 100;
    }

    .banner__title, .banner__info {
        padding-left: $size + 50px;
        color: $color--accent;
        line-height: $size - 66px; 
        font-weight: 400;      
    }

    .banner__title {
        font-size: ($size*0.42);
        padding-top: $size;
    }

    .banner__info {
        font-size: ($size*0.26);
        width: $width - 50%; 
    }

    .button {
        width: $size + 72px;
        padding: {
            top: $size - 90px;
            right: $size - 98px; 
            bottom: $size - 90px; 
            left: $size - 80px;
        }

        margin-left: $size + 50px;
        @include font-size ($size * 0.22);
        background: $color--primary;
        border: none;
        color: $color--accent;
    }
}